@media (max-width: 2400px) {

  .authparent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .App {
    background: linear-gradient(145deg, #09666a, #075659);
    height: 100vh;
    padding: 10px;
  }

  .authchild1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }

  .importpersonnel {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 30px;
  }

  .downloadtemp {
    box-shadow:  8px 8px 16px #075154,
                -8px -8px 16px #096d72;

                font-family: "Poppins", sans-serif;
                color: #8bffff;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background: linear-gradient(145deg, #4ecbc4, #42aba5);

             border-radius: 30px;
    padding: 10px;
    width: 250px;
    font-family: "Poppins", sans-serif;
    color: #8bffff;
    cursor: pointer;
  }

  .uploadtemp {
    box-shadow:  8px 8px 5px #3ea29c inset,
                -8px -8px 5px #54dbd2 inset;

                font-family: "Poppins", sans-serif;
                color: #8bffff;
    padding: 25px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background: linear-gradient(145deg, #4ecbc4, #42aba5);

             border-radius: 30px;
    padding: 10px;
    width: 250px;
    font-family: "Poppins", sans-serif;
    color: #8bffff;
    cursor: pointer;
    font-size: small;
  }

  .selectfile {
    border-radius: 30px;
background: linear-gradient(145deg, #4ecbc4, #42aba5);
box-shadow:  2px 2px 6px #3ea29c,
             -2px -2px 6px #54dbd2;
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .importe {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .authchild2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background: linear-gradient(145deg, #3d424b, #33383f);
    box-shadow:  12px 12px 16px #30353c,
             -6px -6px 6px #3ea29c;
    
    flex-direction: column;
    gap: 15px;
    border-radius: 30px;
    
    
  }

  .tables {
    border-radius: 30px;
background: linear-gradient(145deg, #4ecbc4, #42aba5);
box-shadow:  5px 5px 5px #075154,
                -5px -5px 15px #096d72;
    padding: 30px;
  }

  .iconclub {
    width: 35px;
  }

  .textheader {
    font-family: "Poppins", sans-serif;
    color: rgb(253, 253, 253);
  }

  .defaulttext {
    font-family: "Poppins", sans-serif;
    color: rgb(253, 253, 253);
    font-size: 10px;
    text-align: center;
  }

  .defaulttext1 {
    font-family: "Poppins", sans-serif;
    color: rgb(253, 253, 253);
    font-size: 15px;
    text-align: center;
  }
  
  .authinput {
     width: 250px;
     border-radius: 7px;
     border: 2px solid white;
     background-color: #12326D;
     padding: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 2px 2px 6px 0px #333334,
        -1px -1px 1px 0px #ffffff;
  }

  .authinput::placeholder {
    color: white;
  }

  .inputsauth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
  } 

  .loginauth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  .buttonauthparent {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .buttonauth {
    padding: 20px;
    color: #ffffff;
    background: linear-gradient(145deg, #3d424b, #33383f);
    box-shadow:  6px 6px 8px #30353c,
             -6px -6px 8px #424751;
    font-weight: bold;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    width: 150px;
    border-radius: 30px;
    border: #3ea29c solid;
  }

  .deflayout {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
  }

  .personnelbar {
    display: flex;
    flex-direction: column;
  }

  .servpersonnel {
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }

  .denied {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #f76b8a;
box-shadow:  6px 6px 8px #30353c,
-6px -6px 8px #424751;
border-radius: 20px;
color: #faf3f3;
  }

  .success {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #66bfbf;
box-shadow:  6px 6px 8px #30353c,
-6px -6px 8px #424751;
border-radius: 20px;
color: #faf3f3;
  }

  .successadd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #4f81c7;
box-shadow:  8px 8px 16px #075154,
-8px -8px 16px #096d72;
border-radius: 20px;
color: #faf3f3;
  }


  .bidpersonnel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    background: linear-gradient(145deg, #09666a, #075659);
    box-shadow:  8px 8px 16px #075154,
                -8px -8px 16px #096d72;
                border-radius: 20px;
    padding: 30px;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    color: #8bffff;
    width: 60vw;
  }

  .inputcol {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }

  .butt {
    margin-top: 20px;
    border-radius: 30px;
    background: linear-gradient(145deg, #09666a, #075659);
    box-shadow:  8px 8px 16px #075154,
                -8px -8px 16px #096d72;
                border-radius: 20px;
    border: none;
    padding: 15px;
    color: #adf7d1;
  }

  .inputpers {
    border-radius: 20px;
background: #49beb7;
box-shadow: 6px 6px 6px #3ea29c inset,
            -6px -6px 6px #54dbd2 inset;
    width: 400px;
    border: none;
    padding: 10px;
  }

  .inputpers:focus {
    color: #8bffff;
  }

  
  .HeadText {
    font-weight: 800;
  }

  .bar {
    background: linear-gradient(145deg, #3d424b, #33383f);
    box-shadow:  12px 12px 16px #30353c,
             -12px -12px 16px #424751;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 70px;
    height: 97vh;
    border-radius: 30px;
  }

  .altlayout {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icondash {
    background: linear-gradient(145deg, #3d424b, #33383f);
    display: flex;
    padding: 8px;
    border-radius: 50%;
    box-shadow:  12px 12px 16px #30353c,
             -12px -12px 16px #424751;
  }

  .icondashOn {
    background: linear-gradient(145deg, #3d424b, #33383f);
    display: flex;
    padding: 8px;
    border-radius: 50%;
    box-shadow:  4px 4px 6px #30353c inset,
             -4px -4px 6px #424751 inset;
  }

  .layout {
    display: flex;
    width: 98vw;
    height: 97vh;
    gap: 30px;
    border-radius: 30px;
    background: linear-gradient(145deg, #09666a, #075659);
    box-shadow:  12px 12px 16px #30353c,
             -12px -12px 16px #424751;
  }

  .deflayout-a {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .deflayout-c {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .headlayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }

  .headlayout-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #25C82C;
    height: 7vh;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .headlayout-b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #DF292C;
    height: 7vh;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .headlayout-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #00B1E9;
    height: 7vh;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .headlayout-d {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4E5B72;
    height: 7vh;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .headlayout-e {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #C61ED4;
    height: 7vh;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .headlayout-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFD600;
    height: 7vh;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .icontdef {
    width: 22px;
  }

  .mapbid {
    padding: 20px;
    height: 50px;
  }

  .personnelbar {
    border-radius: 20px;
    padding: 30px;
    gap: 20px;
    background: linear-gradient(145deg, #42aba5, #4ecbc4);
    box-shadow:  8px 8px 16px #075154,
                -8px -8px 16px #096d72;
  }

  .personnelMenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background: linear-gradient(145deg, #4ecbc4, #42aba5);
box-shadow:  2px 2px 6px #3ea29c,
             -2px -2px 6px #54dbd2;
             border-radius: 30px;
    padding: 10px;
    width: 200px;
    font-family: "Poppins", sans-serif;
    color: #8bffff;
    cursor: pointer;
  }

  .personnelMenuOn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background: linear-gradient(145deg, #4ecbc4, #42aba5);
box-shadow:  2px 2px 6px #3ea29c inset,
             -2px -2px 6px #54dbd2 inset;
             border-radius: 30px;
    padding: 10px;
    width: 200px;
    font-family: "Poppins", sans-serif;
    color: #8bffff;
    cursor: pointer;
  }

  .uploadexc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .off {
    display: none;
  }

  .iconmenus {
    width: 40px;
  }

  .iconmenus1 {
    width: 20px;
  }

  .tr {
    display: flex;
    gap: 10px;
  }


  .fields {
    gap: 10px;
    align-items: center;
    background: linear-gradient(145deg, #4ecbc4, #42aba5);
box-shadow:  2px 2px 6px #3ea29c,
             -2px -2px 6px #54dbd2;
             border-radius: 10px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    color: #8bffff;
    cursor: pointer;
  }

  .fieldtable {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .tables .myTable {
    width: 100%;
    border-collapse: collapse;
  }

  .tables .myTable {
    width: 100%;
    border-collapse: separate; /* Gunakan 'separate' agar border-radius berfungsi */
    border-spacing: 0; /* Hilangkan jarak antar cell */
  }
  
  .tables .myTable th, .tables .myTable td {
    border: 1px solid black;
    padding: 10px;
  }

  .tables .myTable th, .tables .myTable td {
    border: 1px solid rgb(232, 226, 226);
    padding: 10px;
  }

  .tables .myTable th:first-child {
    border-top-left-radius: 10px;
  }
  
  .tables .myTable th:last-child {
    border-top-right-radius: 10px;
  }
  
  .tables .myTable tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  
  .tables .myTable tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

  .pagebutt {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .nextprev {
    background: linear-gradient(145deg, #4ecbc4, #42aba5);
box-shadow:  2px 2px 6px #3ea29c,
             -2px -2px 6px #54dbd2;
             border-radius: 10px;
             border: none;
             font-family: "Poppins", sans-serif;
    color: #8bffff;
    cursor: pointer;
    padding: 5px;
  }

  .submitimport {
    background: linear-gradient(145deg, #4ecbc4, #42aba5);
box-shadow:  2px 2px 6px #3ea29c,
             -2px -2px 6px #54dbd2;
             border-radius: 10px;
             border: none;
             font-family: "Poppins", sans-serif;
    color: #8bffff;
    cursor: pointer;
    padding: 10px;
  }

  .preparation {
    display: flex;
    justify-content: space-between;
  }

  
}